.navbar__container {
  background-color: $color_green_1;

  .navbar__inner {
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar__title {
      font-size: $fs_24;
      font-weight: $fw_heavy;
      color: $color_white_1;
      margin: 0.5rem 0;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    .navbar__info {
      @include subText(100%);
      font-weight: $fw_thin;
      color: $color_white_1;
    }
  }
}

@media (min-width: 576px) {
  .navbar__inner {
    max-width: 544px;
  }
}

@media (min-width: 768px) {
  .navbar__inner {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar__inner {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .navbar__inner {
    max-width: 1140px;
  }
}
