$font_base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Helvetica Neue, Arial, sans-serif;

//Font-size
$fs_56: 3.5rem;
$fs_24: 1.5rem;
$fs_16: 1rem;
$fs_12: 0.8rem;

// Font-weight
$fw_thin: 300;
$fw_normal: 400;
$fw_medium: 500;
$fw_bold: 600;
$fw_heavy: 700;
